/* The basics, setting things to a nice neutral before styling proper. */

:root {
    --primary-font-colour: whitesmoke;
    --primary-bg-colour: black;
}

body {
   margin: 0;
   padding: 0;
   background-color: #a8adba;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

a {
    text-decoration: none;
}

.link-style {
    padding: 10px;
    background-color: var(--primary-font-colour);
    border-radius: 15px;
    color: var(--primary-bg-colour);
    transition: 0.3s ease all;
}

.link-style:hover,
.link-style:focus {
    background-color: var(--primary-bg-colour);
    color: var(--primary-font-colour);
}

/* Now comes the Header, Footer and Hero styles. The Header and Footer share a lot of common styling, so I'm keeping them together. */

header {
    height: 8vh;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    background-color: var(--primary-bg-colour);
    position: sticky;
    top: 0;
    z-index: 50;
}

header nav,
footer nav {
    display: flex;
}

header ul,
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header li,
footer li {
    margin: 0 20px;
}

header a,
footer a {
    color: var(--primary-font-colour);
}

footer {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg-colour);
    color: var(--primary-font-colour);
}

footer h2 {
    border-bottom: 2px solid var(--primary-font-colour);
}

footer a {
    padding: 10px;
    background-color: var(--primary-font-colour);
    border-radius: 15px;
    color: var(--primary-bg-colour);
    transition: 0.3s ease all;
}

.hero {
    background-color: var(--primary-bg-colour);
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-font-colour);
}

.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 16px;
    font-style: italic;
    padding: 5px 50px;
    border-top: 1px solid var(--primary-font-colour);
    border-bottom: 1px solid var(--primary-font-colour);
}

/* Here's the Main stuffs, the big beefy section with sections within it. */

main {
    display: flex;
    flex-direction: column;
}

main h2,
footer h2 {
    margin-top: 0;
    font-size: 28px;
    padding: 0 50px 10px 50px;
    border-bottom: 2px solid black;
}

section {
    padding: 40px 20px;
}

section .sec-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* First and foremost, the styles for the main event: the Projects */

#projects .proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* These particular selectors need to come before the general .project one, or their style will be overwritten. */
#projects .pokecards {
    background: url(../images/pokeCards-preview.png);
}

#projects .tarokka {
    background: url(../images/tarokka-preview.png);
}

#projects .squares {
    background: url(../images/hit-squares-preview.png);
}

#projects .project {
    background-position: center top;
    background-size: cover;
    background-color: burlywood;
    flex: 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width: 250px;
    margin: 5px;
    color: black;
    box-shadow: 0 0 10px black;
    transition: all 0.3s ease-out;
}

#projects .big {
    flex: 3 100%;
}

#projects .project:hover,
#projects .project:focus {
    transform: scale(1.2);
    z-index: 20;
}

#projects .project:hover .preview-text,
#projects .project:focus .preview-text {
    opacity: 1;
}

#projects .preview-text {
    width: 100px;
    margin: 0;
    padding: 0;
    opacity: 0;
    display: inline;
    padding: 5px;
    background-color: var(--primary-font-colour);
    box-shadow: 0 0 10px var(--primary-bg-colour);
    border-radius: 10px;
    z-index: 30;    
    transition: all 0.3s ease-out;
    text-align: center;
}

/* Secondly, styling for me rambling about me in the About section */

#about {
    background-color: var(--primary-bg-colour);
    color: var(--primary-font-colour);
}

#about h2 {
    border-bottom: 2px solid var(--primary-font-colour);
}

#about p {
    padding: 0 5px;
}

/* Third and finally, the stylez for the Skills that should hopefully, in due time, pay the bills */

#skills ul {
    padding: 10px 40px;
    list-style-type: none;
}

#skills li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skills h4 {
    font-weight: bold;
    margin: 0;
    flex: 0 20%;
}

#skills p {
    flex: 0 80%;
}


/* Some media queries, so things look good on phones! */

@media screen and (max-width: 960px) {
    
    #skills p {
        flex: 0 70%;
    }
    
    header a,
    footer a {
        font-size: 24px;
    }
}

@media screen and (max-width: 780px) {

    body {
        font-size: 20px;
    }

    header {
        height: 20vh;
    }

    header nav {

    }

    .hero {
        height: 80vh;
    }

    main h2 {
        font-size: 48px;
        text-align: center;
    }

    #skills li {
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid var(--primary-bg-colour);
    }

    #skills h3 {
        font-size: 32px;
        margin-bottom: 0;
        text-align: center;
    }

    #skills p {
        text-align: center;
    }

    footer h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 580px) {
    
    /* Some things aren't necessary or useful on tiny screens, so they go bye-bye */
    .optional {
        display: none;
    }

    header {
        padding-top: 20px;
        position: static;
    }

}